### Name: Neel Narvekar 
### Roll No.: 49
### PID: 246041
### Date: 12/01/2026
### Subject: ML
### Experiment No.: 01 
## Title: Experiment-1: Practice of Major Functions in NumPy, Pandas, and Matplotlib Libraries.

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
,Collecting pandas
,  Downloading pandas-2.3.3-cp39-cp39-win_amd64.whl (11.4 MB)
,Collecting pytz>=2020.1
,  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
,Collecting tzdata>=2022.7
,  Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
,Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
,Requirement already satisfied: numpy>=1.22.4; python_version < "3.11" in c:\users\hp\appdata\roaming\python\python39\site-packages (from pandas) (2.0.2)
,Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
,Installing collected packages: pytz, tzdata, pandas
,Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.3
,Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 25.3 is available.
,You should consider upgrading via the 'c:\program files\python39\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import numpy as np

In [5]:
print("\n==================== 1. Series Creation ====================")
# Series from list
s1 = pd.Series([10, 20, 30, 40])
print("Series from list:\n", s1)

,==================== 1. Series Creation ====================
,Series from list:
, 0    10
,1    20
,2    30
,3    40
,dtype: int64

In [6]:
# Series with custom index
s2 = pd.Series([1, 2, 3], index=['a','b','c'])
print("\nSeries with custom index:\n", s2)

,Series with custom index:
, a    1
,b    2
,c    3
,dtype: int64

In [7]:
# Series from dictionary
s3 = pd.Series({'x': 100, 'y': 200})
print("\nSeries from dictionary:\n", s3)

,Series from dictionary:
, x    100
,y    200
,dtype: int64

In [8]:
print("\n==================== 2. DataFrame Creation ====================")
# From dictionary
df1 = pd.DataFrame({
'Name': ['Alice','Bob','Charlie'],
'Age': [25,30,35],
'City': ['NY','LA','Chicago']
})
print("DataFrame from dictionary:\n", df1)

,==================== 2. DataFrame Creation ====================
,DataFrame from dictionary:
,       Name  Age     City
,0    Alice   25       NY
,1      Bob   30       LA
,2  Charlie   35  Chicago

In [9]:
# From NumPy array
arr = np.arange(9).reshape(3,3)
df2 = pd.DataFrame(arr, columns=['A','B','C'])
print("\nDataFrame from NumPy array:\n", df2)

,DataFrame from NumPy array:
,    A  B  C
,0  0  1  2
,1  3  4  5
,2  6  7  8

In [10]:
# From list of lists
df3 = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['X','Y'])
print("\nDataFrame from list of lists:\n", df3)

,DataFrame from list of lists:
,    X  Y
,0  1  2
,1  3  4
,2  5  6

In [11]:
print("\n==================== 3. Viewing Data ====================")
print("Head of df1:\n", df1.head(2))
print("Tail of df1:\n", df1.tail(2))
print("Columns of df1:", df1.columns)
print("Index of df1:", df1.index)
print("Shape of df1:", df1.shape)
print("Info of df1:")
print(df1.info())
print("Describe numeric data in df1:\n", df1.describe())

,==================== 3. Viewing Data ====================
,Head of df1:
,     Name  Age City
,0  Alice   25   NY
,1    Bob   30   LA
,Tail of df1:
,       Name  Age     City
,1      Bob   30       LA
,2  Charlie   35  Chicago
,Columns of df1: Index(['Name', 'Age', 'City'], dtype='object')
,Index of df1: RangeIndex(start=0, stop=3, step=1)
,Shape of df1: (3, 3)
,Info of df1:
,<class 'pandas.core.frame.DataFrame'>
,RangeIndex: 3 entries, 0 to 2
,Data columns (total 3 columns):
, #   Column  Non-Null Count  Dtype
,---  ------  --------------  -----
, 0   Name    3 non-null      object
, 1   Age     3 non-null      int64
, 2   City    3 non-null      object
,dtypes: int64(1), object(2)
,memory usage: 200.0+ bytes
,None
,Describe numeric data in df1:
,         Age
,count   3.0
,mean   30.0
,std     5.0
,min    25.0
,25%    27.5
,50%    30.0
,75%    32.5
,max    35.0

In [12]:
print("\n==================== 4. Selection & Indexing ====================")
print("Select 'Name' column:\n", df1['Name'])
print("Select multiple columns:\n", df1[['Name','City']])
print("Select row by loc:\n", df1.loc[1])
print("Select row by iloc:\n", df1.iloc[0])
print("Select specific element:\n", df1.loc[1,'City'])

,==================== 4. Selection & Indexing ====================
,Select 'Name' column:
, 0      Alice
,1        Bob
,2    Charlie
,Name: Name, dtype: object
,Select multiple columns:
,       Name     City
,0    Alice       NY
,1      Bob       LA
,2  Charlie  Chicago
,Select row by loc:
, Name    Bob
,Age      30
,City     LA
,Name: 1, dtype: object
,Select row by iloc:
, Name    Alice
,Age        25
,City       NY
,Name: 0, dtype: object
,Select specific element:
, LA

In [13]:
print("\n==================== 5. Filtering & Boolean Indexing ====================")
print("Rows where Age > 28:\n", df1[df1['Age']>28])
print("Rows where City is 'NY':\n", df1[df1['City']=='NY'])

,==================== 5. Filtering & Boolean Indexing ====================
,Rows where Age > 28:
,       Name  Age     City
,1      Bob   30       LA
,2  Charlie   35  Chicago
,Rows where City is 'NY':
,     Name  Age City
,0  Alice   25   NY

In [14]:
print("\n==================== 6. Adding & Modifying Columns ====================")
df1['Salary'] = [50000, 60000, 70000]
print("After adding Salary:\n", df1)
df1['AgePlus5'] = df1['Age'] + 5
print("After modifying/adding AgePlus5:\n", df1)

,==================== 6. Adding & Modifying Columns ====================
,After adding Salary:
,       Name  Age     City  Salary
,0    Alice   25       NY   50000
,1      Bob   30       LA   60000
,2  Charlie   35  Chicago   70000
,After modifying/adding AgePlus5:
,       Name  Age     City  Salary  AgePlus5
,0    Alice   25       NY   50000        30
,1      Bob   30       LA   60000        35
,2  Charlie   35  Chicago   70000        40